<h1 class='page-header'>History</h1>


<table>
  <thead>
    <tr>
      <th>email</th>
      <th>score</th>
    </tr>
  </thead>
  <tbody>
    <% @history.each do |rank| %>
      <tr>
        <td><%= rank.user.email%></td>
        <td><%= rank.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
