<h1 class='page-header'>History</h1>


<table>
  <tbody>
    <% @history.each do |rank| %>
      <td>rank_id</td>
      <td><%= rank.id %></td>
    <% end %>
  </tbody>
</table>
<%= image_tag('history.png') %>
