<h1 class='page-header'>Leaderboard</h1>

<%= link_to "new Game", controller: "game", action: "index" %>
<div class="alert alert-warning" role="alert">This is a sample page.</div>

<%= image_tag('leaderboard.png') %>
